In [13]:
import os
import pandas as pd

current_directory = os.getcwd()
print(current_directory)

/Users/indup/Downloads

In [14]:
#Change working directory
new_directory_path = '/Users/indup'
os.chdir(new_directory_path)

In [15]:
updated_dir = os.getcwd()
print(updated_dir)

/Users/indup

In [16]:
file_path = 'Week13Assignment.txt'

try:
    with open(file_path, "r") as file:
        content = file.read()
        print(content)
except FileNotFoundError:
    print(f"File '{file_path}' not found.")
except IOError:
    print('An error occurred while reading the file.')

Name, Age, Gender, BloodPressure, Temperature
John Doe, 45, Male, 120/80, 36.8
Jane Smith, 32, Female, 130/85, 37.2
Alice Johnson, 50, Female, 140/90, 36.5
Michael Brown, 55, Male, 135/82, 37.0
Emily Wilson, 40, Female, 125/78, 36.9

In [17]:
#Avg age of patients
df = pd.read_csv(file_path)

In [18]:
print(df)

            Name   Age   Gender  BloodPressure   Temperature
0       John Doe    45     Male         120/80          36.8
1     Jane Smith    32   Female         130/85          37.2
2  Alice Johnson    50   Female         140/90          36.5
3  Michael Brown    55     Male         135/82          37.0
4   Emily Wilson    40   Female         125/78          36.9

In [19]:
print(df.columns)

Index(['Name', ' Age', ' Gender', ' BloodPressure', ' Temperature'], dtype='object')

In [21]:
#Avg age
average_age = df[' Age'].mean()
print(average_age)

44.4

In [22]:
male = (df[' Gender'] == ' Male').sum()
female = (df[' Gender'] == ' Female').sum()
print(f"The number of male patients is {male} and the number of female patients is {female}. ")

The number of male patients is 2 and the number of female patients is 3.

In [25]:
# Get the highest blood pressure
max_bp = max(df[' BloodPressure'])
print(f"The highest blood pressure is {max_bp}.")

The highest blood pressure is  140/90.

In [26]:
#Low BP
low_bp = min(df[' BloodPressure'])
print(f"The lowest blood pressure is {low_bp}.")

The lowest blood pressure is  120/80.

In [27]:
#Avg Temp

average_temp = df[' Temperature'].mean()
print(f"The average temperature is {average_temp}.")

The average temperature is 36.88.